{% extends "layout.html" %}

{% block content %}


		<h1>I am home!! {{name}}</h1>
		<div>We are here for you</div>

		{%  for post in posts %}
			<h1> {{ post.title }} </h1>
			<p>By {{ post.author }} on <code>{{ post.date_posted }}</code></p>
			<div>
				<p>{{ post.content }}</p>
			</div>
		{% endfor %}

{% endblock content %}