<html>
	<head>
		{% if title %}
		<title>{{ title }}</title>
		{% else %}
			<title>Flask App Tutorial</title>
		{% endif %}
		
	</head>

	<body>
		{% block content %} {% endblock %}

	</body>
</html>